
.tab{
    width: 80%;
	height: 80%;
	position: absolute;
	top:10%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
  }

  .title{
    color: #283593;
    text-align: center;
  }
  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }